

.card {
    overflow: hidden;
    position: relative;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to left top, #337AB7, #BFE2FF);
}
.card:before, .card:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: "";
}
.card:before {
    filter: contrast(19);
    mix-blend-mode: multiply;
}
.card:after {
    background: linear-gradient(90deg, #285f8f, #337AB7);
    mix-blend-mode: screen;
}

.card:before {
    background: repeating-linear-gradient(45deg, #000, #999, #000 5%), linear-gradient(45deg, #777, #000);
    background-blend-mode: screen;
}