:root {
  --border-radius-large: 100px;
  --body-font-family: 'Poppins', sans-serif;
  --body-font-weight: 400;
  --body-line-height: 1.5;
}

:root, [data-theme = light] {
  --primary-color:                #E07A5F;
  --secondary-color:              #F2CC8F;
  --hover-color:                  #F2CC8F;
  --body-bg-color:                #d9d9d9;
  --body-color: #212529;

}

:root, [data-theme = dark] {
  --primary-color:                #E07A5F;
  --secondary-color:              #F2CC8F;
  --hover-color:                  #F2CC8F;
  --body-bg-color:                #181717;
  --body-color: #212529;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

a, button {
  touch-action: manipulation;
  transition: all 0.3s;
}


a:hover {
  color: var(--secondary-color);
}

body {
  background-color: var(--body-bg-color);
  /*background-color: var(--body-bg-color);*/
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.site-header {
  padding: 30px 0;

  .container {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: var(--border-radius-large);
    max-height: 70px;
    width: 100%;
    padding: 1rem .75rem;
    margin: 0 auto;
   
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0 .75rem;

      .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
        margin-top: 0;
      }

      .nav-wrapper {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        width: 100%;

        .header-logo {
          color: var(--white-color);
          font-size: var(--p-font-size);
          font-weight: var(--font-weight-bold);
          display: flex;
          align-items: center;
          justify-content: center;

          .logo {
            width: 30px;
            height: 30px;
            border: 1px solid #fff;
            border-radius: 50% ;
          }

          span {
            margin-left: 10px;
          }
        }

        .social-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          padding: 0;
          max-height: 35px;

          .text{
            margin-right: 1.5rem;
            color: #fff
          }

          @media (max-width:992px) {
            .text{
              display: none;
            }
          }

          .social-icon-item {
            list-style: none;
            display: inline-block;
            vertical-align: top;
          
            .social-icon-link {
              border-radius: var(--border-radius-large);
              color: var(--white-color);
              display: block;
              width: 30px;
              height: 30px;
              line-height: 38px;
              transition: background 0.5s, color 0.2s;
            }
          
            .instagram::before {
              content: "";
              mask-image: url("../img/instagram.svg");
              background-color: #fff;
              display: inline-block;
              width: 20px;
              height: 20px;
            }

            .twitter::before {
              content: "";
              mask-image: url("../img/twitter.svg");
              background-color: #fff;
              display: inline-block;
              width: 20px;
              height: 20px;
            }

            .whatsapp::before {
              content: "";
              mask-image: url("../img/whatsapp.svg");
              background-color: #fff;
              display: inline-block;
              width: 20px;
              height: 20px;
            }
          }


        }

        .custom-btn {
          border: 2px solid #fff;
          border-radius: var(--border-radius-large);
          color: var(--white-color);
          font-size: var(--btn-font-size);
          font-weight: var(--font-weight-bold);
          line-height: normal;
          transition: all 0.3s;
          padding: 6px 18px;
          display: inline-block;
          .arrow-right {
            margin-left: .5rem;
          
          }         
          .arrow-right::before {
            content: "";
            display: inline-block;
            background-color: #fff;
            mask-image: url("../img/arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
          }
        }

        .custom-btn:hover {
            border: 2px solid var(--secondary-color);
            background: var(--secondary-color);
        }

        .burger{
          margin-left: 15px;
          color: var(--white-color);
        }

        .burger:hover::before{
          background-color: var(--secondary-color);
        }

        .burger::before {
          content: "";
          mask-image: url("../img/burger.svg");
          background-color: #ffffff;
          display: inline-block;
          width: 20px;
          height: 20px;
        }
        

      }
    }
  } 
}

.modal{
  --bs-modal-width: 500px;
  background-color: #000b;
  transition: opacity .2s linear;
  display: flex;
  justify-content: center;
  align-items: center;

  /*.modal-dialog {
    position: relative;
    width: auto;
    /*margin: var(--bs-modal-margin);
    pointer-events: none;
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
  }*/
}

/*.modal:not(.show) {
  opacity: 0
}

@media (prefers-reduced-motion:reduce) {
  .modal {
      transition: none
  }
}

.modal-content {
    border: 1px solid #fff
}*/

.modal-content .btn-close {
    filter: brightness(0) invert(1);
    position: relative;
    z-index: 22;
    top: 20px;
    right: 20px;
    transition: all 0.3s;
}
  
.modal-content .btn-close:hover {
    transform: rotate(180deg);
}





.btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent url("../img/close-icon.svg") center/1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity)
}



@media (min-width:576px) {
  .container {max-width: 540px}
}

@media (min-width:768px) {
  .container {max-width: 720px}
}

@media (min-width:992px) {
  .container {max-width: 960px}
}

@media (min-width:1200px) {
  .container {max-width: 1140px}
}

@media (min-width:1400px) {
  .container {max-width: 1320px}
}




@media screen and (max-width: 480px) {
  .site-header .social-icon {
    display: none !important;
  }

  .offcanvas-icon {
    margin-left: 10px;
  }
}












::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}