<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
  
    <!--====== Title ======-->
    <title>Landing Page Template</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
   
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>

<body>
 

    <header>
        <div class="navbar-area">
            <div class="container">

                        <a class="header-logo" href="index.html">
                            <img src="assets/images/logo.svg" alt="Logo">
                        </a>

                        <nav class="navbar">
                            <button class="burger-toggler" type="button">
                                <span class="burger-stripe"></span>
                                <span class="burger-stripe"></span>
                                <span class="burger-spripe"></span>
                            </button>
                                <ul class="navbar">
                                    <li class="nav-item">
                                        <a href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#features">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#facts">Why</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#team">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#blog">Blog</a>
                                    </li>
                                </ul>
                        </nav> <!-- navbar -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
    </header>

    <script src="js/index.js.js"></script>    

</body>

</html>
